# Arm (32-bit) kernel-only defconfig (BR2_EXTERNAL). DT support enabled; INTREE DTS names are set
# by system/buildroot-kernel build.sh from board definitions.yaml "dtbs:" (BOARD_DTBS).
BR2_arm=y
BR2_ARM_EABIHF=y
BR2_ARM_FPU_VFPV4D16=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
